body {
  background-color: #1E1E1E;
  margin: 0
}

/* https://stackoverflow.com/questions/70489057/dotted-background-with-pure-html-css */
.dotted {
    background-image: radial-gradient(#191919 10%, transparent 10%),
        radial-gradient(#ccc 10%, transparent 10%);
    background-position: 0 0, 50px 50px;
    background-size: 50px 50px;
}

.main-container {
  width: 100vw;
  height: 100vh; 
  margin: 0 auto;
  padding: 5vh 0;
  display: flex;
}

.header {
  display: flex;
}

.logo, .headername, .undername {
  display: inline-block;
}

.logo img {
  width: 12vh;
}

.headername {
  font-size: 10vh;
  font-family: sans-serif;
  font-weight: lighter;
  color: #4D784E;
}

.undername {
  color: white;
  font-family: sans-serif;
  font-size: 2.5vh;  
}

.vertical-options {
  height: 30vh;
  background-color: #191919;
  margin-top: 12vh;
}

.options {
  color: white;
  font-family: sans-serif;
  font-size: 6vh;
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: center;
}

.options:hover {
  background-color: #6EA171;
  cursor: pointer;
}

.selected-option {
  background-color: #4D784E !important;
}

.admin-pwd {
  margin-top: 10vh;
  color: white;
  font-size: 2vh;
  font-family: sans-serif;
}

.admin-pwd-input {
  width: 2vh;
}

.admin-pwd-input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.admin-pwd .input-group input {
  border: 1px solid #4D784E;
}

.admin-pwd-btn {
  color: white;
  background-color: #4D784E;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.admin-pwd-btn:hover {
  background-color: #6EA171;
  cursor: pointer;
}